@model ACCDataStore.Web.Areas.Achievement.ViewModels.WiderAchievement.WiderAchievementViewModel
@section Header {
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/WiderAchievement/IndexWiderAchievement.js"></script>
}
@{
    //Wider Achievement
    ViewBag.Title = "Index";
}

<body>
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="@Url.Content("~/Images/AchievementLogo.png")" alt="">
            </a>
        </div>
        <div class="col-md-9">
            <h2 class="text-left text-info">Wider Achievement</h2>
            <p class="text-justify">
                The data contained here details the range of wider achievement courses which have been delivered by ACC establishments and / or partner organisations between 2013 and 2016.  The intention is to regularly update these data sets to provide an accurate picture of the courses and awards being completed by young people across the city.

                Please note that while the majority of the data is based on the number of awards completed by participants, a small amount of data is based on the number of awards registered at that establishment (Sports Leaders & Junior Award Scheme for Schools data).
            </p>
            <p class="text-justify">
                If you have any queries regarding the data, please contact 
            </p>
            <p class="text-justify">
                Mark Pain
            </p>
            <p class="text-justify">
                Wider Achievement Manager
            </p>
            <p class="text-justify">
                Adventure Aberdeen
            </p>
            <p class="text-justify">
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:mapain@aberdeencity.gov.uk">mapain@aberdeencity.gov.uk</a>

            </p>
        </div>
    </div>     
    </div> <!--container-->
</body>