<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="applicationName" value="ACC Data Store" />

  <!--<add key="dbUser" value="postgres" />
  <add key="dbPassword" value="1234" />
  <add key="dbName" value="postgres" />
  <add key="dbHost" value="localhost" />
  <add key="dbType" value="3" />-->
  
  <add key="dbUser" value="root" />
  <add key="dbPassword" value="1234" />
  <add key="dbName" value="C:\data\Database2.mdb" />
  <add key="dbHost" value="localhost" />
  <add key="dbPort" value="3306" />
  <add key="dbType" value="4" />
  <!-- dbtype: 1 - MySQL, 2 - SQLServer, 3 - PostgreSQL, 4 - MSAccess -->

  <add key="dbUser_2nd" value="root" />
  <add key="dbPassword_2nd" value="1234" />
  <add key="dbName_2nd" value="accdatastore" />
  <add key="dbHost_2nd" value="localhost" />
  <add key="dbPort_2nd" value="3306" />
  <add key="dbType_2nd" value="1" />
  <!--dbtype: 1 - MySQL, 2 - SQLServer, 3 - Oracle-->

  
  <add key="dbUser_3nd" value="root" />
  <add key="dbPassword_3nd" value="1234" />
  <add key="dbName_3nd" value="C:\data\scotxed_2015.mdb" />
  <add key="dbHost_3nd" value="localhost" />
  <add key="dbPort_3nd" value="3306" />
  <add key="dbType_3nd" value="4" />
  
  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
</appSettings>