@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.WiderAchievement.WiderAchievementViewModel
@section Header {
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>    
    <script src="~/Scripts/highcharts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/WiderAchievement/MapIndex.js"></script>
<script src="~/Scripts/accdatastore/views/PrimarySchoollocations.js"></script>
}
@{
    //StudentStage
    ViewBag.Title = "MapIndex";
}

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Wider Achivement - Interactive Map</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                @*<div id="map-canvas" style="width: 1280px; height: 720px;"></div>*@
                <div id="map-canvas" style="width: 100%; height: 500px;"></div>
                <div id="content-windows-mouse-over" style="position: absolute; display:none; background-color: lightgray;"></div>

            </div>
            <div class="col-md-2">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Layers</h3>
                    </div>
                    <div class="panel-body">
                        <div id="mapcontrolbox"></div>
                    </div>
                    <div id="maincontrolbox">
                        <div id="mapcontrolbox"></div>
                        <article id="popup-information"></article>
                        <div id="divSpinner" class="modal" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>         <!-- row -->

        <div class="row">
            <div class="col-md-10">
                <div id="divinformationContainer" style="width: 100%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div id="divChartContainer" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</body>

@*<div id="map-canvas" style="width: 1280px; height: 720px;"></div>*@
@*<div id="map-canvas" style="width: 1280px; height: 576px;" ></div>

<div id="content-windows" style="position:relative; width: 90%">
    <div id="divinformationContainer" style="float:left; width: 40%; height: 100%; "></div>
    <div id="divChartContainer" style="float:right; width: 60%;  height: 100%;"></div>
</div>

<div id="maincontrolbox">
    <label style="font-family: 'Open Sans'; font-weight: bold;">Layers</label>
    <div id="mapcontrolbox"></div>
</div>

<article id="popup-information"></article>
<div id="content-windows-mouse-over" style="position: absolute; display:none; background-color: lightgray;"></div>
<div id="divSpinner" class="modal" style="display: none;"></div>*@
