@section Header {
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="@Url.Action("Index", "Index", new {  Area = "" ,id = "" }, null)">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-left text-info">
                    Contact
                </h1>
                <hr />
            </div>

        </div>
        <div class="row">
            <!-- Map Column -->

            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.346456635065!2d-2.0988364838688263!3d57.14823459097327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48840e3c4ec0305b%3A0xad17295b563b4b4f!2sAberdeen%2C+Aberdeen+City+AB10+1AB!5e0!3m2!1sen!2suk!4v1450564030145"></iframe>
                @*<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://goo.gl/maps/2LRkkGcX2h82"></iframe>*@
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3 class="text-center text-info">Contact Details</h3>
                <p>
                    Visiting 2-N Marischal Colleage, Broad Street, Aberdeen AB 10 1AB<br>
                </p>
                <p>
                    <i class="fa fa-phone"></i>
                    <abbr title="Phone">P</abbr>: (01224) 522209
                </p>
                <p>
                    <i class="fa fa-envelope-o"></i>
                    <abbr title="Email">E</abbr>: <a href="mailto:HSaevanee@aberdeencity.gov.uk">HSaevanee@aberdeencity.gov.uk</a>
                </p>
                <p>
                    <i class="fa fa-clock-o"></i>
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
                </p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

@*<p align="center">
        <img src="@Url.Content("~/Images/acc-logo.gif")" alt="Aberdeen City Council" width="130" height="108" />
    </p>*@
@*<h2 align="center"> Home</h2>
        <p>
            Welcome to Aberdeen data Observatory Project.
            This website pulls together up-to-date information as the Digital Data Observatory Project for Aberdeen City Council.
            The aim of this project is to provide an easy access to a wide range of information collected from local data source and can be analysed for enhanced decision-making based on a robust evidence based for decision makers.
        </p>
        <h2 align="center"> What is Data Observatory</h2>
        <p>
            A Data Observatory (also known as a Local Information System) is a form of information system built with business intelligence tools, designed with the capability to support statistical data, and the analysis of geospatial data.
            A Data Observatory also tends to offer common knowledge management functionality for storage and retrieval of unstructured data such as documents.
            Data Observatory deliver functionality to load, store, analyse and present statistical data that has a strong geographic reference.
            In most cases the data is structured as indicators and is linked to discrete geographic areas, for example numbers claiming unemployment benefit across wards in Scotland.
            The ability to present this data using data visualization tools like charts and maps is also a core feature of these systems.
        </p>
        <h2 align="center"> Feedback on Data Observatory </h2>

        <h3 align="center" style="color:blue">
            This site is a work in progress. We have released early, but good enough for you to start using day-to-day.<br>
            Each time you come back you might see new features.<br>
            You can help us by suggesting ideas/features that would help you in your work.<br>
        </h3>


        <p style="color:blue" align="center">
            <b>
                You can contact data observatory project team <br /><br />
                a) by email to Jan at <a href="mailto:HSaevanee@aberdeencity.gov.uk">HSaevanee@aberdeencity.gov.uk</a> <br><br />
                b) by visiting 2-N at Marischal Colleage, Broad Street, Aberdeen AB 10 1AR <br><br />
            </b>
        </p>
    </div>*@



