@section Header {
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}

@{
    ViewBag.Title = "Test Power BI";
}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            @*<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMDZkNGJmNWItNDYxZi00MjI4LTlmNzEtNGIyYWU4ODNiZWU5IiwidCI6IjI0YTkwZjZiLWJmM2QtNGQxMy1hMmE3LTg5MzY5Y2ViMzVlYiIsImMiOjh9" frameborder="0" allowfullscreen="true"></iframe>*@
            <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiN2QyMWM3NDAtZGQ5Mi00OThhLTk4ZjUtNDliYjQ3ZGNjMDA3IiwidCI6IjI0YTkwZjZiLWJmM2QtNGQxMy1hMmE3LTg5MzY5Y2ViMzVlYiIsImMiOjh9" frameborder="0" allowfullscreen="true"></iframe>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
     
    </div>
</body>

